".vs/" 
"x64/" 
"Debug/" 
"Release/" 
"*.user" 
"*.suo" 
"*.ipch" 
"*.db" 
"*.opendb" 
"*.VC.db" 
"*.VC.db-shm" 
"*.VC.db-wal" 
"ipch/" 
"*.aps" 
"*.ncb" 
"*.sdf" 
"*.opensdf" 
"*.pdb" 
"*.ilk" 
"*.obj" 
"*.pch" 
